body {
  font-family: times;
  background-image: url("https://images.freeimages.com/images/large-previews/a6c/umbrellas-at-beach-1361365.jpg");
  background-size: 100% 200%;
  background-repeat: no-repeat;
}
h1 {
  text-align: center;
  text-shadow: 2px -2px black;
  color: #F5B430;
  background-color:#5A6770;
  border: 2px solid black;
  border-radius: 20px;
}
h5 {
  text-align: center;
}
h6 {
  text-align: center;
}
span {
  font-size: 30px;
}
p {
  font-size: 18px;
  margin-top: 20px;
}
form {
  margin-top: 20px;
  margin-bottom: 20px;
}
a:hover {
  color: lightblue !important;
}
.carousel-item img {
  border: 2px solid black;
  border-bottom: 0px;
  margin: auto;
  width: 100%;
  height: auto;
}
.wrap {
    background-color: white;
    border: 2px solid black;
    border-right: 3px solid black;
}
.navbar {
  background-color: #5A6770 !important;
  border: 2px solid black;
}
.navbar-brand {
  color: #F5B430 !important;
  padding: 0px 10px;
  border: 2px solid black;
  border-radius: 25px;
  background-color: black;
  color: darkblue;
  font-size: 30px;
}
.nav-link {
  font-size: 20px;
  color: lightgray !important;
}
#footer {
  border-top: 2px solid black;
  margin: auto;
  background-color: #5A6770;
}
#me {
  color: black !important;
}
#me:hover {
  color: blue !important
}
@media (min-width: 576px){
  .nav-link {
    color: #F5B430 !important;
    font-size: 27px;
    padding: 0px;
    margin: 0px 10px 0px 10px;
    border: 2px solid black;
    border-radius: 25px;
    background-color:black;
  }
  .carousel-item img {
    width: 80%;
  }
  .rwd-line {
    display: inline;
    font-size: 35px;
  }
}
@media (min-width: 768px){
  h1{
    margin-top: 15px;
  }
  h5 {
    font-size: 22px !important;
  }
  li a {
    font-size: 2.0em !important;
  }
  p {
    font-size: 20px;
  }
  #email{
    margin-right: 10px;
    text-align: right;
  }
}
@media (min-width: 998px){
  rwd-line {
    font-size: 3.0em;
  }
  h5 {
    font-size: 30px !important;
  }
  #myPhone {
    text-align: left;
  }
  .carousel-item img {
    width: 65%;
  }
}
@media (max-width: 576px) {
  li a:hover {
    background-color: #808080
  }
  .rwd-line {
    display: block !important;
  }
}
@media (max-width: 400px) {
  h1 {
    font-size: 1.5em;
  }
  span {
    font-size: 25px;
  }
  .navbar-brand {
    font-size: 25px;
  }
}
